<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Index Movie Database</title>
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        <h1>Movies index page</h1>
        
        <nav>
            <a href="/movies/new">Add a new movie</a>
        </nav>

        <ul>
            <% for(let i=0; i<movies.length; i++) { %>
                <li>
                    <a href="/movies/<%=i%>"><%=movies[i].name%></a> 
                    <form action="/movies/<%=i; %>?_method=DELETE" method="POST">
                        <input type="submit" value="DELETE" />
                    </form>
                    <a href="/movies/<%=i; %>/edit">Edit</a>
                </li>
                <br/>
            <% } %>
        </ul>

    </body>
</html>