<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Movie Log App</title>
    </head>
    <body>
        <h1>Movie Log Display page</h1>
        <br>
        Movie: <%= movie.name %>   
        Directed by: <%= movie.director %>
        Year: <%= movie.year %>
        Status: <% if (movie.seenAlready === true) { %>
            Seen already.
        <% } else { %>
            Pending to see.
        <% } %>
    </body>
</html>  